ul{
    list-style: none;;
}

.item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.item:nth-child(1) {
    background-color: red;
    top: 351px;
    left: 851px;
}

.item:nth-child(2) {
    background-color: blue;
    top: 400px;
    left: 900px;
    z-index: 1;
}

.item:nth-child(3) {
    background-color: green;
    top: 450px;
    left: 950px;
}